[Unit]
Description=gunicorn daemon for simple bookapp
After=network.target

[Service]
Environment="Debug=False"
Environment="DB_Name={{ db_name }}"

User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/simple-bookapp/src
ExecStart=/usr/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/simple-bookapp/src/bookapp.sock bookapp:application

[Install]
WantedBy=multi-user.target
